<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{staff/staff-layout(user_type='STAFF')}">
         <head>
            <title>Bookings</title>
         </head> 
         <body>  
            <section layout:fragment="content">
            <form th:action="@{/staff/booking}" method="post" th:object="${bookingObject}" th:if="${ bookingObject != null and bookingObject.getId() != null}">
                  <input type="hidden" th:field="*{id}">
                  <input type="hidden" th:field="*{user}">
                  <input type="hidden" th:field="*{room}">
                  <label th:text="'Username: ' + *{user.username}"></label><br>
                  <label th:text="'Room: ' + *{room.id}"></label><br>
                  <label for="occupancy-start-id">From</label>
                  <input id="occupancy-start-id" type="datetime-local" th:field="*{occupancyStart}"><br>
                  <label for="occupancy-end-id">To</label>
                  <input id="occupancy-end-id" type="datetime-local" th:field="*{occupancyEnd}"><br>                                    
                  <input type="submit" value="Submit">
               </form>
               <br>
            
               <div th:if="${currentBookings != null and not currentBookings.isEmpty()}">
                <label for="table-current-booking-id">Current Bookings</label>
                <table id="table-current-booking-id">
                  <thead>
                     <tr>
                       <th>SL No.</th>
                       <th>Username</th>
                       <th>ROOM NO</th>
                       <th>TYPE</th>
                       <th>CAPACITY</th>
                       <th>FROM</th>
                       <th>TO</th>
                       <th>EDIT</th>
                     </tr>                    
                  </thead>
                  <tbody>
                     <tr th:each="currentBooking, iterStat : ${currentBookings}">
                       <td th:text="${iterStat.count}"></td>
                       <td th:text="${currentBooking.user.username}"></td>
                       <td th:text="${currentBooking.room.id}"></td>
                       <td th:text="${currentBooking.room.tier}"></td>
                       <td th:text="${currentBooking.room.capacity}"></td>
                       <td th:text="${#temporals.format(currentBooking.occupancyStart,'dd MMM yyyy hh:mm a')}"></td>
                       <td th:text="${#temporals.format(currentBooking.occupancyEnd,'dd MMM yyyy hh:mm a')}"></td>
                       <td><a th:href="@{/staff/booking/{id}(id=${currentBooking.id})}">Edit</td>
                     </tr>
                  </tbody>
                </table>
               </div>
               <div th:if="${currentBookings == null or currentBookings.isEmpty()}">
                    <span>No Bookings</span>
               </div>
 
         
           </section>
         </body>     
</html>
