<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout(user_type='ADMIN')}">
         <head>
            <title>Rooms</title>
         </head> 
         <body>  
            <section layout:fragment="content">
               <form th:action="@{/admin/rooms}" method="post" th:object="${roomObject}">
                  <input type="hidden" th:field="*{id}">
                  <label for="room-tier-id">Room Tier</label>
                  <select id="room-tier-id" th:field="*{tier}">
                    <option th:each="tier :${roomTier}"
                            th:text="${tier}"
                            th:value="${tier}">
                    </option>
                  </select><br>
                  <label for="room-capacity-id">Room Capacity</label>
                  <select id="room-capacity-id" th:field="*{capacity}">
                    <option th:each="capacity :${roomCapacity}"
                            th:text="${capacity}"
                            th:value="${capacity}">
                    </option>
                  </select><br>
                  <label for="room-state-id">Room State</label>
                  <select id="room-state-id" th:field="*{state}">
                    <option th:each="state :${roomState}"
                            th:text="${state}"
                            th:value="${state}">
                    </option>
                  </select><br>
                  <input type="submit" value="Submit">
               </form>
               <br>
            
               <table id="table-id">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>ROOM NO</th>
                        <th>TYPE</th>
                        <th>CAPACITY</th>
                        <th>STATE</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr th:each="room, iterStat : ${rooms}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${room.id}"></td>
                        <td th:text="${room.tier}"></td>
                        <td th:text="${room.capacity}"></td>
                        <td th:text="${room.state}"></td>
                        <td>
                            <a th:href="@{/admin/rooms/{id}(id=${room.id})}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{/admin/rooms/delete/{id}(id=${room.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
               </table>
            </section>
         </body>     
</html>
